<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean name="/login" class="com.yourcompany.struts.action.LoginAction">
	</bean>
	
	<bean name="/home/target" class="com.san.chengxin.action.TargetAction">
		<property name="cmTargetDAO" ref="cmTargetDAO" />
		<property name="cmPartDAO" ref="cmPartDAO" />
	</bean>
	
	<bean name="/home/target/add" class="com.san.chengxin.action.AddAction">
		<property name="cmTargetDAO" ref="cmTargetDAO" />
		<property name="cmPartDAO" ref="cmPartDAO" />
	</bean>
	
	<bean name="/home/country" class="com.san.mxchengxin.action.country.CountryAction">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
		<property name="cmPersonDAO" ref="cmPersonDAO" />
	</bean>
	<bean name="/home/country/add" class="com.san.mxchengxin.action.country.CtyAddAction">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
	</bean>
	
	<bean name="/home/part" class="com.san.mxchengxin.action.part.PartAction">
	</bean>
	<bean name="/home/part/add" class="com.san.mxchengxin.action.part.PartAddAction">
	</bean>	
		
	<import resource="applicationContext-resources.xml"/>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<property name="mappingResources">
			<list>
				<!--<value>com/login/User.hbm.xml</value>-->
				<value>com/san/chengxin/model/target/CmTarget.hbm.xml</value>
				<value>com/san/chengxin/model/part/CmPart.hbm.xml</value>
				<value>com/san/mxchengxin/model/country/CmCountry.hbm.xml</value>
				<value>com/san/mxchengxin/model/country/CmPerson.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.OracleDialect
				</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>


	<!-- bean id="userDAO" class="com.login.UserDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="userDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="userDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean-->



	<bean id="cmTargetDAO"
		class="com.san.chengxin.model.target.CmTargetDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="cmTargetDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="cmTargetDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>		

	<bean id="cmPartDAO"
		class="com.san.chengxin.model.part.CmPartDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="cmPartDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="cmPartDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>	
	
	<bean id="cmCountryDAO"
		class="com.san.mxchengxin.model.country.CmCountryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="cmCountryDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="cmCountryDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>	
	<bean id="cmPersonDAO"
		class="com.san.mxchengxin.model.country.CmPersonDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	</beans>