.01 {
	font-size: 12px;
	text-indent: 6px;
}
.sub_title {
	font-size: 14px;
	font-weight: bold;
}
.px1-table {
	font-size: 12px;
}.page_title {
	font-family: "»ªÎÄÏ¸ºÚ", "ºÚÌå";
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}
.02 {
	font-size: 14px;
}
