/* CSS Document */
html,body{
margin:0px;
padding:0px;
height:100%;
}
.header_top{
background-image:url(../img/bg_top1.jpg);
background-repeat:repeat-x;
}
.header_bottom{
background-image:url(../img/bg_top2.jpg);
background-repeat:repeat-x;
}
/* font */
.userinfo{
font-family:"ו";
font-size:12px;
color:#05ff40;
}
.gonggao a{
font-family:"ו";
font-size:12px;
color:#faf104;
}
.bibeianniu td{
border-collapse:collapse;
border-right:1px solid #c7dbe2;
font-family:"ו";
font-size:12px;
color:#0376c5;
font-weight:bold;
}