/* CSS Document */
html,body{
margin:0px;
padding:0px;
padding-right:3px;
}
.bottom_1{
background-color:#d0e8f7;
border-left:1px solid #b0bec7;
border-right:1px solid #b0bec7;
font-family:"ו";
font-size:12px;
}