a:link {
	font-family: "Verdana", "宋体";
	color: #800000;
	text-decoration: none;
}
a:visited {
	font-family: "Verdana", "宋体";
	color: #800000;
	text-decoration: none;
}
a:hover {
	font-family: "Verdana", "宋体";
	color: #800000;
	text-decoration: none;
}
table{
	font-family: "Verdana", "宋体";
	color: #800000;
	text-decoration: none;
    font-size: 13px;
}

