.left {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
a {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: "ו";
	font-size: 12px;
	color: #990099;
	text-decoration: none;
}
