<STYLE>

BODY
{
	COLOR: #000000;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt;
	background-repeat: repeat-y
}

P
{
	COLOR: #000000;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt
}


TR
{
	COLOR: #000000;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt
}

TD
{
	COLOR: #000000;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt
}

.XSMALL
{
	font-size: 9pt;
	color: #000000;
	line-height: 14pt;
	list-style-image: url('bullets.gif');
	list-style-position: outside; 
	list-style-type: none 
}

A:link
{
	COLOR: #333399
    TEXT-DECORATION: none
}

A:visited
{
	COLOR: #660099
    TEXT-DECORATION: none
}

A:hover
{
	COLOR: #ff6600
    CURSOR: hand;
    TEXT-DECORATION: none
}

.icon
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: gray thin solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY:宋体;
    FONT-SIZE: 9pt;
    HEIGHT: 20px;
    LETTER-SPACING: 0.5pt;
    LINE-HEIGHT: 12pt;
    MARGIN: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.iconover
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: black thin solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY:宋体;
    FONT-SIZE: 9pt;
    HEIGHT: 20px;
    LETTER-SPACING: 0.5pt;
    LINE-HEIGHT: 12pt;
    MARGIN: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.icondown
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: gray thin solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: black 1px solid;
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY:宋体;
    FONT-SIZE: 9pt;
    HEIGHT: 20px;
    LETTER-SPACING: 0.5pt;
    LINE-HEIGHT: 15pt;
    MARGIN: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}

.icon2
{
}
.iconover2
{
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: white 1px solid
}

.menu
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: black;
    FONT-SIZE: 9pt;
    HEIGHT: 21px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    TEXT-ALIGN: left;
    WIDTH: 100%
}

.outborder
{
    BACKGROUND-COLOR: gray;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: gray 1px solid;
    LEFT: 10px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    TOP: 10px;
    WIDTH: 97%;
}

.outborder1
{
    BACKGROUND-COLOR: gray;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: gray 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}
.inborder
{
    BACKGROUND-COLOR: #c0c0c0;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: #000000;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.title1
{
    BACKGROUND-COLOR: #000088;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-RIGHT: gray 1px solid;
    COLOR: #ffffff;
    FONT-SIZE: 9pt;
    HEIGHT: 20px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
.button1
{
    FONT-SIZE: 9pt;
    HEIGHT: 22px;
    WIDTH: 80px
}

.list
{
	BORDER-BOTTOM: #000000 1px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	COLOR: #000000;
	CURSOR: default;
	FONT: 12px  宋体;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	text-align: center;
}

.title2hand
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
    HEIGHT: 21px;
    LETTER-SPACING: 0pt;
    LINE-HEIGHT: 12pt;
    MARGIN: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    TEXT-DECORATION: none
}
.title2down
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: white 1px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: gray 1px solid;
    COLOR: black;
    FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
    HEIGHT: 21px;
    LETTER-SPACING: 0pt;
    LINE-HEIGHT: 12pt;
    MARGIN: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    TEXT-DECORATION: none
}
.selectcell
{
	BORDER-BOTTOM-STYLE:solid;
	BORDER-BOTTOM-COLOR:#FFFFFF;
	BORDER-TOP-STYLE:solid;
	BORDER-TOP-COLOR:#FFFFFF;
	BORDER-LEFT-STYLE:none;
	BORDER-RIGHT-STYLE:solid;
	BORDER-RIGHT-COLOR=#000000
}
.unselectcell
{
	BORDER-BOTTOM-STYLE:solid;
	BORDER-BOTTOM-COLOR:#FFFFFF;
	BORDER-TOP-STYLE:solid;
	BORDER-TOP-COLOR:#FFFFFF;
	BORDER-LEFT-STYLE:none;
	BORDER-RIGHT-STYLE:none;
}
/*
.tab1
{
    CURSOR: hand;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 5
}
.tab2
{
    CURSOR: hand;
    LEFT: 60px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 4
}

.ltab2
{
    CURSOR: hand;
    LEFT: 60px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 98px;
    Z-INDEX: 4
}

.tab3
{
    CURSOR: hand;
    LEFT: 120px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 3
}
.tab4
{
    CURSOR: hand;
    LEFT: 180px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 2
}
.ltab4
{
    CURSOR: hand;
    LEFT: 180px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 98px;
    Z-INDEX: 2
}
.tab5
{
    CURSOR: hand;
    LEFT: 240px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 1
}
.tab6
{
    CURSOR: hand;
    LEFT: 300px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 1
}
.tab7
{
    CURSOR: hand;
    LEFT: 360px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 1
}
.tab8
{
    CURSOR: hand;
    LEFT: 422px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 72px;
    Z-INDEX: 1
}

.ltab8
{
    CURSOR: hand;
    LEFT: 422px;
    POSITION: absolute;
    TOP: 2px;
    WIDTH: 98px;
    Z-INDEX: 1
}

.tab1txt
{
    COLOR: black;
    CURSOR: hand;
    LEFT: 13px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10;
}
.tab2txt
{
    COLOR: gray;
    CURSOR: hand;
    LEFT: 73px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10;
}
.tab3txt
{
    COLOR: gray;
    CURSOR: hand;
    LEFT: 133px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10;
}
.tab4txt
{
    COLOR: gray;
    CURSOR: hand;
    LEFT: 193px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10;
}
.tab5txt
{
    COLOR: gray;
    CURSOR: hand;
    LEFT: 253px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10
}
.tab6txt
{
    COLOR: gray;
    CURSOR: hand;
    LEFT: 313px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10
}
.tab7txt
{
    COLOR: gray;
    CURSOR: hand;
    LEFT: 373px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10
}
.tab8txt
{
    COLOR: gray;
    CURSOR: hand;
    LEFT: 433px;
    POSITION: absolute;
    TOP: 5px;
    WIDTH: 72px;
    Z-INDEX: 10
}
*/
.tabfon
{
    CURSOR: hand;
    background-image:url(/images/tabfon.gif);
	width:10;
	height:18;
}
.tabfoff
{
    CURSOR: hand;
    background-image:url(/images/tabfoff.gif);
	width:10;
	height:18;
}
.tablon
{
    CURSOR: hand;
    background-image:url(/images/tablon.gif);
	width:10;
	height:18;
}
.tabloff
{
    CURSOR: hand;
    background-image:url(/images/tabloff.gif);
	width:10;
	height:18;
}
.tabon1
{
    CURSOR: hand;
    background-image:url(/images/tabon1.gif);
	width:10;
	height:18;
}
.tabon2
{
    CURSOR: hand;
    background-image:url(/images/tabon2.gif);
	width:10;
	height:18;
}
.taboff
{
    CURSOR: hand;
    background-image:url(/images/taboff.gif);
	width:10;
	height:18;
}


.tabtxton
{
    COLOR: black;
    CURSOR: hand;
    WIDTH: 60px;
	background-color:white;
	text-align:center;
	vertical-align:text-bottom;
	height:18px;
    background-image:url(/images/tabtop.gif);
}
.tabtxtoff
{
    COLOR: gray;
    CURSOR: hand;
    WIDTH: 60px;
	background-color:#cccccc;
	text-align:center;
	vertical-align:text-bottom;
	height:18px;
    background-image:url(/images/tabtop.gif);
}

.title0
{
    BACKGROUND-COLOR: gray;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-RIGHT: gray 1px solid;
    COLOR: #ffffff;
    FONT-SIZE: 9pt;
    HEIGHT: 20px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}

.tabbg
{
    BACKGROUND-COLOR: gray;
    BORDER-BOTTOM: black 1px solid;
    COLOR: black;
    FONT-SIZE: 9pt;
    HEIGHT: 20px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    TEXT-ALIGN: left;
    WIDTH: 100%
}

.menu0
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: black;
    FONT-SIZE: 9pt;
    HEIGHT: 21px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    TEXT-ALIGN: left;
    WIDTH: 100%
}

.tbar
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: white 1px solid;
    COLOR: #000000;
    FONT-SIZE: 9pt;
    HEIGHT: 9px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px
}

.hand1
{
    CURSOR: hand
}

.blueon
{
    BACKGROUND: #000099;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal;
}

.blueoff
{
    COLOR: #000000;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal;
}

.menuon
{
    BACKGROUND: #000099;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal;
}

.menuoff
{
    COLOR: #000000;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal;
}

.liston
{
    BACKGROUND: #000099;
    COLOR: #ffffff;
    CURSOR: hand;
	FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal;
    HEIGHT:21px;
}

.listoff
{
    COLOR: #000000;
	FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal;
    HEIGHT:21px;
}

.modicon
{
    LEFT: 3px;
    POSITION: relative;
    TOP: 2px
}

.modtxt
{
    POSITION: relative;
    TOP: -4px
}

.TRHead1
{
	BackGround-COLOR: #d2d9e9;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt
}

.TR1
{
	BackGround-COLOR: #eeeeee;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt
}

.TR0
{
	BackGround-COLOR: #fafafa;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt
}

.TABLE0
{
	Background-color : #bbbbbb;
	border : none; 
}

.TRHead7
{
	BackGround-COLOR: #dfffff;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt;
}

.TR11
{
	BackGround-COLOR: #efefef;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt
}

.TR01
{
	BackGround-COLOR: #ffffff;
	FONT-FAMILY: 宋体;
	FONT-SIZE: 9pt;
	line-height: 14pt
}
.TABLE01 { Background-color : #bbbbbb; border : none; }

a.qq{text-decoration:none;color:#003366; line-height: 13pt}
A.qq:link {text-decoration:none;COLOR: #003366}
A.qq:visited {text-decoration:none;COLOR: #003366}
A.qq:hover {text-decoration:none;COLOR: #000000}

.checkbox{border:none}
.radio{border:none }

textarea{border:#7c869c 1px solid}
.select{BACKGROUND-ATTACHMENT: scroll; BACKGROUND-COLOR: #f7f7f7; BACKGROUND-POSITION: 0% 50%; BACKGROUND-REPEAT: repeat;BORDER-BOTTOM:#999999  1px solid; BORDER-LEFT:#999999  1px solid; BORDER-RIGHT:#999999  1px solid; BORDER-TOP: #999999 1px solid; COLOR: #000066; FONT-SIZE: 9pt}
.button {height:17;background-color:#d2d9e9; border-color:#7c869c; border-style: solid; border-width: 1; font-size: 9pt; cursor:hand}

.lightblue{background-color:d2d9e9}
.tableblue{background-color:7c869c}
.greyline{background-color:f7f7f7}
.6d{background-color:ffffff}

.popbg{background-color:d2d9e9}
.popbg2{background-color:f2f2f2}

.head1 {BackGround-COLOR:#cccc66}
.head2 {BackGround-COLOR:#FF9D3C}
.head3 {BackGround-COLOR:#FFCc33}
.head4 {BackGround-COLOR:#61ADD1}
.head5 {BackGround-COLOR:#ADBF6F}
.head6 {BackGround-COLOR:#CCCC33}
.head7 {BackGround-COLOR:#E1AD0F}
.head8 {BackGround-COLOR:#99CC66}
.head99 {BackGround-COLOR:#5C94EF}
.head74 {BackGround-COLOR:#A3C8F5}
.head168 {BackGround-COLOR:#99cc66}

.line1 {BackGround-COLOR:#DCDC98}
.line2 {BackGround-COLOR:#FFBE84}
.line3 {BackGround-COLOR:#FFE084}
.line4 {BackGround-COLOR:#A7D0E4}
.line5 {BackGround-COLOR:#CAD991}
.line6 {BackGround-COLOR:#E0E081}
.line7 {BackGround-COLOR:#F7D671}
.line8 {BackGround-COLOR:#C0DAA5}
.line99 {BackGround-COLOR:#A0C0F5}
.line74 {BackGround-COLOR:#BCD7F8}
.line168 {BackGround-COLOR:#B8DE96}

/*
table.tableCal {font-size:9pt; width:150; background-color:ffffff; border:0;cursor:default}

td.tdCalHead{background:e4e9f1;cursor:default;line-height: 14pt;text-align:center}
td.tdCalWeekHead{background:adbbde;cursor:default;line-height: 14pt;text-align:center}
td.tdCalNormal{background:e4e9f1;cursor:hand;line-height: 14pt;text-align:center}
td.tdCalNormalToDay{background:e4e9f1;cursor:hand;line-height: 14pt;text-align:center;background-image: url(/images/CaleToday.gif);background-repeat:no-repeat }
td.tdCalSpace{background:e4e9f1;cursor:default;line-height: 14pt;text-align:center}
td.tdCalDftDay{background:adbbde;cursor:hand;line-height: 14pt;text-align:center}
td.tdCalDftToday{background:adbbde;cursor:hand;line-height: 14pt;text-align:center;background-image: url(/images/CaleToday.gif);background-repeat:no-repeat }

option.optCaleThisYear {background-color:adbbde}
option.optCaleYearNormal {background-color:#ffffff}
option.optCaleThisMonth {background-color:adbbde}
option.optCaleMonthNormal {background-color:#ffffff}

a.aCalHoliday {color: #cc3300;}
a.aCalNormal {color: #000000;}
table.tableCal {font-size:9pt; width:150; background-color:ffffff; border:0;cursor:default}

td.tdCalHead{background:e4e9f1;cursor:default;line-height: 14pt;text-align:center}
td.tdCalWeekHead{background:adbbde;cursor:default;line-height: 14pt;text-align:center}
td.tdCalNormal{background:e4e9f1;cursor:hand;line-height: 14pt;text-align:center}
td.tdCalNormalToDay{background:e4e9f1;cursor:hand;line-height: 14pt;text-align:center;background-image: url(/images/CaleToday.gif);background-repeat:no-repeat }
td.tdCalSpace{background:e4e9f1;cursor:default;line-height: 14pt;text-align:center}
td.tdCalDftDay{background:adbbde;cursor:hand;line-height: 14pt;text-align:center}
td.tdCalDftToday{background:adbbde;cursor:hand;line-height: 14pt;text-align:center;background-image: url(/images/CaleToday.gif);background-repeat:no-repeat }

option.optCaleThisYear {background-color:adbbde}
option.optCaleYearNormal {background-color:#ffffff}
option.optCaleThisMonth {background-color:adbbde}
option.optCaleMonthNormal {background-color:#ffffff}

a.aCalHoliday {color: #cc3300;}
a.aCalNormal {color: #000000;}
*/
table.tableCal {font-size:9pt; width:150; background-color:ffffff; border:0;cursor:default}
table.tableCalBottom {font-size:9pt; width:150; background-color:ffffff; border:0;cursor:default}

td.tdCalHead{background:e4e9f1;cursor:default; height: 12pt; text-align:center; vertical-align:bottom}
td.tdCalWeekHead{background:adbbde;cursor:default;line-height: 10pt;text-align:center}
td.tdCalNormal{background:e4e9f1;cursor:hand;line-height: 10pt;text-align:center}
td.tdCalNormalToDay{background:e4e9f1;cursor:hand;line-height: 10pt;text-align:center;background-image: url(/images/CaleToday.gif);background-repeat:no-repeat }
td.tdCalSpace{background:e4e9f1;cursor:default;line-height: 10pt;text-align:center}
td.tdCalDftDay{background:adbbde;cursor:hand;line-height: 10pt;text-align:center}
td.tdCalDftToday{background:adbbde;cursor:hand;line-height: 10pt;text-align:center;background-image: url(/images/CaleToday.gif);background-repeat:no-repeat }
td.tdCalBottom{background:e4e9f1;cursor:default; height: 12pt; text-align:center; vertical-align:bottom}

img.imgSetDate {cursor:hand; border:0}

option.optCaleThisYear {background-color:adbbde}
option.optCaleYearNormal {background-color:#ffffff}
option.optCaleThisMonth {background-color:adbbde}
option.optCaleMonthNormal {background-color:#ffffff}

a.aCalHoliday {color: #cc3300;}
a.aCalNormal {color: #000000;}

</STYLE>
