/* CSS Document */
html,body{
margin:0px;
padding-top:0px;
height:100%;
font-size:12px;
}
.rongqi {
border:1px solid #86c0e1;
border-top:0px;
border-collapse:collapse;
}
.biaoti{

border-top:1px solid #86c0e1;
font-family:"ו";
font-size:12px;
color:#0376c5;
font-weight:bold;
}
.qinqiubiaoge{
border-collapse:collapse;
border-top:1px solid #86c0e1;
border-right:1px solid #86c0e1;
}
.qinqiubiaoge_right{
border-collapse:collapse;
border-top:1px solid #86c0e1;

}
.qinqiubiaoge_bottom{
border-collapse:collapse;
border-bottom:1px solid #86c0e1;
border-top:1px solid #86c0e1;
border-right:1px solid #86c0e1;

}
.qinqiubiaoge_bottomr{
border-collapse:collapse;
border-bottom:1px solid #86c0e1;
border-top:1px solid #86c0e1;


}
.input3{
width:80%;
height:100%;
}


