<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="mxBase" abstract="true" class="com.san.mxchengxin.action.ChengxinBaseAction" >
		<property name="cmPartDAO" ref="cmPartDAO" />
		<property name="cmLogDAO" ref="cmLogDAO" />
	</bean>
	
	<bean name="/home/target" class="com.san.mxchengxin.action.TargetAction" parent ="mxBase">
		<property name="cmTargetDAO" ref="cmTargetDAO" />
	</bean>
	
	<bean name="/home/target/add" class="com.san.mxchengxin.action.TargetAddAction" parent ="mxBase">
		<property name="cmTargetDAO" ref="cmTargetDAO" />
	</bean>
	
	<bean name="/home/country" class="com.san.mxchengxin.action.country.CountryAction" parent ="mxBase">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
		<property name="cmPersonDAO" ref="cmPersonDAO" />
	</bean>
	
	<bean name="/home/level" class="com.san.mxchengxin.action.LevelAction" parent ="mxBase">
		<property name="cmLevelDAO" ref="cmLevelDAO" />

	</bean>
	
	<bean name="/home/level/add" class="com.san.mxchengxin.action.LevelAddAction" parent ="mxBase">
		<property name="cmLevelDAO" ref="cmLevelDAO" />
	</bean>
	
	<bean name="/home/report" class="com.san.mxchengxin.action.ReportAction" parent ="mxBase">
		<property name="cmLevelDAO" ref="cmLevelDAO" />
		<property name="cmRecordDAO" ref="cmRecordDAO" />
		<property name="cmCountryDAO" ref="cmCountryDAO"/>
	</bean>
	
	<bean name="/home/country/add" class="com.san.mxchengxin.action.country.CtyAddAction" parent ="mxBase">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
	</bean>
	
	<bean name="/home/person" class="com.san.mxchengxin.action.person.PersonAction" parent ="mxBase">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
		<property name="cmPersonDAO" ref="cmPersonDAO" />
	</bean>
	<bean name="/home/person/add" class="com.san.mxchengxin.action.person.PersonAddAction" parent ="mxBase">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
		<property name="cmPersonDAO" ref="cmPersonDAO" />	
	</bean>	
	
	<import resource="applicationContext-resources.xml"/>
	
	<bean name="/home/part" class="com.san.mxchengxin.action.PartAction" parent ="mxBase">

	</bean>
	
	<bean name="/home/part/add" class="com.san.mxchengxin.action.PartAddAction" parent ="mxBase">

	</bean>
	
	<bean name="/home/log" class="com.san.mxchengxin.action.LogAction" parent ="mxBase">

	</bean>
	
	<bean name="/home/record" class="com.san.mxchengxin.action.RecordAction" parent ="mxBase">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
		<property name="cmRecordDAO" ref="cmRecordDAO" />
		<property name="cmTargetDAO" ref="cmTargetDAO" />
	</bean>
	
	
	<bean name="/home/record/add" class="com.san.mxchengxin.action.RecordAddAction" parent ="mxBase">
		<property name="cmTargetDAO" ref="cmTargetDAO" />
		<property name="cmPersonDAO" ref="cmPersonDAO" />
		<property name="cmCountryDAO" ref="cmCountryDAO"/>
		<property name="cmRecordDAO" ref="cmRecordDAO" />
	</bean>
	
	<bean name="/home/statistics" class="com.san.mxchengxin.action.StatisticsAction" parent ="mxBase">
		<property name="cmCountryDAO" ref="cmCountryDAO" />
		<property name="cmRecordDAO" ref="cmRecordDAO" />
		<property name="cmLevelDAO" ref="cmLevelDAO" />
		<property name="cmPersonDAO" ref="cmPersonDAO" />	
	</bean>	
		
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<property name="mappingResources">
			<list>
				<!--<value>com/login/User.hbm.xml</value>-->
				<value>com/san/mxchengxin/model/target/CmTarget.hbm.xml</value>
				<value>com/san/mxchengxin/model/part/CmPart.hbm.xml</value>
				<value>com/san/mxchengxin/model/level/CmLevel.hbm.xml</value>
				<value>com/san/mxchengxin/model/record/CmRecord.hbm.xml</value>
				<value>com/san/mxchengxin/model/country/CmCountry.hbm.xml</value>
				<value>com/san/mxchengxin/model/country/CmPerson.hbm.xml</value>
				<value>com/san/mxchengxin/model/log/CmLog.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.OracleDialect
				</prop>
				<prop key="hibernate.connection.release_mode">
                    after_transaction
				</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>


	<bean id = "cmLevelDAO"
		class="com.san.mxchengxin.model.level.CmLevelDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	
	</bean>
	
	<bean id="cmLevelDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="cmLevelDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>	
	
	<bean id="cmRecordDAO" class="com.san.mxchengxin.model.record.CmRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="cmTargetDAO"
		class="com.san.mxchengxin.model.target.CmTargetDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="cmTargetDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="cmTargetDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>		

	<bean id="cmPartDAO"
		class="com.san.mxchengxin.model.part.CmPartDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="cmPartDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="cmPartDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>		
	<bean id="cmCountryDAO"
		class="com.san.mxchengxin.model.country.CmCountryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="cmCountryDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="cmCountryDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>	
	<bean id="cmPersonDAO"
		class="com.san.mxchengxin.model.country.CmPersonDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="cmLogDAO"
		class="com.san.mxchengxin.model.log.CmLogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

</beans>